<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "><h1 style="color:rgb(255, 255, 255); font-style: strong;"> <img src="../../../assets/img/f.png" style="max-width: 40px; height: auto; color: rgb(252, 252, 252);" />
    <b>ආයුබෝවන්</b> <br><span style="color:rgb(255, 255, 255); margin-top: 10px;"><b>Sooriyawewa District Hospital </b></span></h1></div>
          
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
          <img src="assets/img/team-banner-1.jpg" style="height: auto;">
      <div class="card-body py-5 px-md-5">
            <h1>Sign Up</h1>
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            
  
            <form [formGroup]="signupForm">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <!-- <span class="fa fa-user p-2"></span> -->
                    <label class="form-label" for="form3Example1">First Name</label>
                    <input type="text" id="form3Example1" class="form-control" formControlName="firstName"/>
                    
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <!-- <span class="fa fa-user p-2"></span> -->
                        <label class="form-label" for="form3Example1">Last Name</label>
                        <input type="text" id="form3Example1" class="form-control" formControlName="lastName"/>
                        
                      </div>
                </div>
              </div>
  
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" formControlName="email"/>
                <label class="form-label" for="form3Example3">Email address</label>
              </div>

               <!-- User Name input -->
               <div class="form-outline mb-4">
                <input type="text" id="form3Example3" class="form-control" formControlName="username" />
                <label class="form-label" for="form3Example3">User Name</label>
              </div>
  
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input [type]="type" id="form3Example2" class="form-control"  formControlName="password">
                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                    <label class="form-label" for="form3Example3">Password</label>
              </div>
  
              <!-- Checkbox -->
              <!-- <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                <label class="form-check-label" for="form2Example33">
                  Subscribe to our newsletter
                </label>
              </div> -->
  
              <!-- Submit button -->
              <br>
              <button type="submit" class="btn btn-primary btn-block mb-4" (click)="onSignup()">
                Sign Up
              </button>
              <div class="text-center">Already have an account? <a id="forget" style="text-decoration:none" routerLink="/login">Login</a></div>
  
              <!-- Register buttons -->
              <div class="text-center">
                <!-- <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fa fa-facebook-f"></i>
                </button> -->
  
                <!-- <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fa fa-google"></i>
                </button> -->
  
                <!-- <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fa fa-twitter"></i>
                </button> -->
  
                <!-- <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fa fa-github"></i>
                </button> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
